<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <img src="favicon.png" />
        <a class="navbar-brand" href="">MoonPress v@(MoonPress.PWA.Properties.Version.SemanticVersion)</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
            <div class="nav-item px-3">
            <NavLink href="files" class="nav-link" Match="NavLinkMatch.All">
                <i class="fas fa-folder-open"></i> Open Project
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
