<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid d-flex align-items-center justify-content-start">
        <a class="navbar-brand d-flex align-items-center" href="">
            <span class="align-middle">
                @if (ProjectState.Current?.ProjectName != null)
                {
                    <span>@ProjectState.Current.ProjectName</span>
                }
                else
                {
                    <img src="favicon-32x32.png" alt="Logo" class="logo me-2" />
                    <span>MoonPress</span>
                }
            </span>
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="project/new" Match="NavLinkMatch.All">
                <i class="fa-solid fa-square-plus"></i> New Project
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="project/load">
                <i class="fa-solid fa-folder-open"></i> Load Project
            </NavLink>
        </div>
        
        @if (ProjectState.Current is not null)
        {
            <hr />

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="content-items">
                    <i class="fa-solid fa-file-lines"></i> Content Items
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="categories">
                    <i class="fa-solid fa-layer-group"></i> Categories
                </NavLink>
            </div>
        }
    </nav>
</div>
