@page "/categories"
@using MoonPress.Core.Content

<h3>Categories</h3>

@if (!ContentItemFetcher.GetItemsByCategory().Any())
{
    <p>No categories found.</p>
}
else
{
    <ul>
        @foreach (var kvp in ContentItemFetcher.GetItemsByCategory()
            .OrderBy(g => g.Key))
        {
            <li>
                <a href="/category/@(kvp.Key)">
                    @(kvp.Key)
                </a>
                (@kvp.Value.Count())
            </li>
        }
    </ul>
}