@page "/content-items"

<h3>Content Items</h3>

<button class="btn btn-primary" @onclick="GoToNewContentItem">Add New Content Item</button>

@if (!ContentItemsList.Any())
{
    <p>No content items found.</p>
}
else
{
    <ul>
        @foreach (var content in ContentItemsList)
        {
            <li>
                <strong>
                    <a href="/content-item/edit/@(content.Id)">
                        @(content.Slug)
                    </a>:
                </strong> 
                Created @(content.DatePublished) [@(content.Status)]
            </li>
        }
    </ul>
}

