@page "/content-items"

<h3>Content Items</h3>

<button class="btn btn-primary" @onclick="GoToNewContentItem">Add New Content Item</button>

@if (!ContentFiles.Any())
{
    <p>No content items found.</p>
}
else
{
    <ul>
        @foreach (var filename in ContentFiles)
        {
            <li>@filename</li>
        }
    </ul>
}

